---
import PageHeader from "../components/common/PageHeader.astro";
import Search from "../components/Search.svelte";
import Layout from "../layouts/Layout.astro";
import { getIndex } from "../lib/minisearch";

export const prerender = false;
const query = Astro.url.searchParams.get("query");

const results = [];

if (query) {
	const index = await getIndex(Astro.locals, "search");
	results.push(...index.search(query));
}
---
<Layout title={`${query} - search`} description={`Search results for ${query}`}>
    <header class="bg-teal-900 text-white">
        <div class="mx-auto max-w-5xl px-4 py-12">
            <h1 class="text-3xl font-bold mb-4">Search on MoneyManual.co.uk</h1>

            <Search initialValue={query} client:load />

            <p class="mt-4 font-medium">Found {results.length} results</p>
        </div>
    </header>

    <main class="mx-auto max-w-5xl px-4 mt-8">
        <ul>
            {results.map(result => (
                <li class="border-b border-gray-400 max-w-160 group">
                    <a class="py-4 block" href={`/${result.id}`}>
                        <h2 class="text-xl font-bold mb-2 underline text-teal-600 group-hover:text-teal-800 group-active:bg-yellow-400 group-active:text-black w-fit">
                            {result.title}
                        </h2>
                        <p class="text-lg">{result.description}</p>
                    </a>
                </li>
            ))}
        </ul>
    </main>
</Layout>